streamlit
langgraph
langchain-groq
langchain-tavily
langchain-huggingface
langchain-community
langchain-text-splitters
faiss-cpu
pypdf
python-dotenv
sentence-transformers
fastapi
uvicorn[standard]
pydantic
python-dotenv
langgraph
langchain
langchain-groq
langchain-tavily
langchain-huggingface
langchain-community
langchain-text-splitters
sentence-transformers
faiss-cpu
pypdf
groq
 